.BannerContainer {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
    min-height: 100vh;
}

.title {
    font-size: 4rem;
    font-family: Inter;
    font-weight: 900;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.story {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 300;
    line-height: 1.6rem;
}

.details_container {
    /* background-color: pink; */
    /* display: flex; */
    /* align-items: center; */
    /* padding: 50px 150px; */
    /* min-height: 100vh; */
    max-width: 800px
}

.cta_btn_box {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(20px) !important;
}

.cta_btn {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border: none;
    padding: 15px 12px;
    width: 100%;
    min-width: 230px;
    max-width: 400px;
    border-radius: 6px;
}






@media(max-width: 1310px) {
    .BannerContainer {
        padding: 50px 100px;
    }
}

@media(max-width: 1210px) {
    .BannerContainer {
        padding: 50px 50px;
    }
}

@media(max-width: 1140px) {
    .BannerContainer {
        flex-direction: column;
        padding: 50px;
    }

    .cta_btn_box {
        flex-direction: row;
        gap: 12px;
        transform: translateY(-40px);
    }

    .title {
        margin-top: 2rem;
    }
}

@media(max-width: 805px) {
    .title {
        font-size: 3rem;
        font-family: Inter;
        line-height: 3.6rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 550px) {
    .title {
        font-size: 3rem;
        font-family: Inter;
        line-height: 3.6rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .cta_btn_box {
        flex-direction: column !important;
        gap: 12px;
    }
}