.nav {
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.nav img {
    width: 95px;
}

.homeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    text-align: center;
    padding: 20px;
    padding-top: 90px;
    /* gap: 20px; */
    height: 100vh;
    position: relative;
}

.homeBox h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
    color: orange;
    text-transform: uppercase;
}

.homeBox h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
}

.homeBox p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    padding: 12px;
    line-height: 18px;
}

.homeBox>p {
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    font-size: 18px;
    padding: 12px;
    line-height: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form input {
    padding: 12px;
    border: none;
    outline: none;
    /* background-color: rgb(36, 40, 80); */
    background-color: #17191f;
    color: #fff;
}

.form button {
    padding: 12px;
    border: none;
    outline: none;
    margin-top: 5px;
}

.form p {
    margin: 0;
    padding: 0;
}