.nav_main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 5px; */
  /* background-color: red; */
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.nav_main nav { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
  /* background-color: blue; */
  width: 100%;
  max-width: 600px;
 }

.nav_main ul { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  /* background-color: yellow; */
  width: 60%;
 }

.nav_main li { 
  list-style: none;
  font-family: Roboto, sans-serif;
  font-size: .95rem;
 }

 .cta_btn_box {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5px;
  width: 40%;
 }

 .cta_btn_box button {
    border: none;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
 }

 .nav_main img {
  width: 100px;
}